.container {
  margin: 0px 10px;
  padding-top: 10px;
}

#card-opacity {
  opacity: 0.2;
}

.spinner-container {
  position: absolute;
  top: 150px;
  left: 80px;
}

.error-container {
  background-color: azure;
}

.keys {
  margin-right: 20px;
}

.full-width {
  width: 100%;
}
