<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{
        "SID_Attach_optical_switch" | translate
      }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="params">
        <p>RTU: {{ rtu.title }}</p>
        <p>{{ "SID_Port1" | translate }}: {{ mainPort }}</p>
      </div>

      <mat-form-field class="full-width">
        <mat-label>{{
          "SID_Optical_switch_s_IP_address" | translate
        }}</mat-label>
        <input matInput [(ngModel)]="ipAddress" />
      </mat-form-field>

      <div class="infoTable" fxLayout="row">
        <div class="keys">
          <p>{{ "SID_Serial" | translate }}</p>
          <p>{{ "SID_Port_count" | translate }}</p>
        </div>
        <div class="values">
          <p>{{ serial }}</p>
          <p>{{ portCount }}</p>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-stroked-button
        color="primary"
        (click)="attachOtau()"
        [disabled]="isButtonDisabled"
      >
        {{ "SID_Attach" | translate }}
      </button>
      <button
        mat-stroked-button
        color="primary"
        (click)="cancel()"
        [disabled]="isButtonDisabled"
      >
        {{ "SID_Back" | translate }}
      </button>
    </mat-card-actions>
  </mat-card>
  <div class="error-container">
    <p>{{ resultMessage }}</p>
  </div>
  <div class="spinner-container">
    <mat-spinner *ngIf="isSpinnerVisible"></mat-spinner>
  </div>
</div>
