img {
    width: 16px;
    height: 16px;
    margin-right: 4px;
  }
  
  p {
      margin-left: 10px;
  }

  mat-expansion-panel{
      background: azure;
  }

  mat-expansion-panel-header { 
      width: 100%;
      
  }
  