<mat-accordion *ngFor="let rtu of rtuArray">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <img
        src="{{ rtu.monitoringMode | monitoringModeToUriPipe }}"
        alt="monitoring mode image"
      />
      <img
        src="{{ rtu.bopState | rtuPartStateToUriPipe }}"
        alt="bop state image"
      />
      <img
        src="{{ rtu.mainChannelState | rtuPartStateToUriPipe }}"
        alt="main channel image"
      />
      <img
        src="{{ rtu.reserveChannelState | rtuPartStateToUriPipe }}"
        alt="reserve channel image"
      />
      <p>{{ rtu.title }}</p>
    </mat-expansion-panel-header>
    <ft-rtu-children
      [fullPortCount]="rtu.fullPortCount"
      [traceArray]="rtu.traces"
    ></ft-rtu-children>
  </mat-expansion-panel>
</mat-accordion>
