
img {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  margin-top: 12px;
}

p {
  margin-left: 10px;
}

mat-accordion {
  width: 100%;
  justify-self: stretch;
}

mat-expansion-panel {
  width: 100%;
  justify-self: stretch;
}

mat-expansion-panel-header {
  width: 100%;
}
