.container {
  margin: 0px 10px;
}

.iit-image {
  display: inline-block;
}

.iit-image img {
  width: 60px;
}

.iit-header {
  display: inline-block;
  text-align: left;
  margin: 10px;
}

.iit-header p {
  padding: 0;
  margin: 5px;
}

.loginFormHeader {
  width: 430px;
}
.loginForm {
  margin-top: 15px;
  width: 400px;
  background-color: white;
}

.full-width {
  width: 100%;
}

.err {
  margin: 10px;
  padding: 10px;
  background-color: azure;
}

.spinner-container {
  position: absolute;
  top: 150px;
  left: 80px;
}
