<div class="container">
  <div class="loginFormHeader">
    <div class="iit-image">
      <img src="./assets/images/IIT.ico" alt="iit image" />
    </div>
    <div class="iit-header">
      <p>Fibertest&trade; 2.0</p>
      <p>Copyright&copy; 2019</p>
      <p>Institute of Information Technologies</p>
    </div>
  </div>
  <mat-divider></mat-divider>
  <mat-card class="loginForm">
    <mat-card-header>
      <mat-card-title>Authentication</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        <mat-form-field class="full-width">
          <mat-label>User name</mat-label>
          <input
            matInput
            placeholder="Username"
            name="username"
            [(ngModel)]="user"
          />
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Password</mat-label>
          <input
            matInput
            placeholder="Password"
            name="password"
            type="password"
            [(ngModel)]="pw"
          />
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button class="full-width" (click)="login()">
        Log in
      </button>
    </mat-card-actions>
    <mat-card-footer>
      <div class="err" *ngIf="resultMessage">{{ resultMessage }}</div>
    </mat-card-footer>
  </mat-card>

  <button mat-stroked-button class="full-width" (click)="signalR()">
    SignalR
  </button>
</div>
