<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IRtuWcfService">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:11842/RtuWcfService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IRtuWcfService" contract="RtuWcfServiceReference.IRtuWcfService"
                name="NetTcpBinding_IRtuWcfService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>