.container {
  margin: 0px 10px;
}

mat-card {
  margin-top: 10px;
}

mat-card-title {
  margin-bottom: 20px;
}

.spinner-container {
  position: absolute;
  top: 150px;
  left: 80px;
}

h4 {
  margin-top: 30px;
}

mat-card-footer {
  background-color: azure;
}

input[type="file"],
input[type="button"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* 1 */
  clip-path: inset(50%);
  border: 0;
}

label {
  /* border: 1px solid #ccc; */
  padding: 0px 0px 0px 0px;
  margin: 0px 6px 0px 0px;
  cursor: pointer;
}

label:hover {
  background-color: rgb(235, 235, 235);
}

.one-line {
  display: flex;
  margin-bottom: 20px;
}

span {
  margin-left: 6px;
  align-self: center;
  border-bottom: 1px solid #ccc;
  /* padding: 8px; */
  flex-grow: 1;
}
