.mat-header-cell {
  text-align: center !important;
  border-right: 1px solid lightgrey;
  font-size: 14px;
  background: azure;
  color: black;
  padding: 5px;
}

.mat-cell {
  justify-content: center;
  flex-wrap: wrap;
  border-right: 1px solid lightgrey;
  padding: 0 5px;
}
