/* You can add global styles to this file, and also import other style files */

html,
body,
#vx-mouse-capture-wrapper {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  white-space: pre-wrap;
}

.mat-select-value-text {
  white-space: pre-wrap !important;
}

.mat-option-text {
  white-space: pre-wrap !important;
}