<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>

  <!--  Client applications   
  uses D4CWcfService from data center
  provides ClientWcfService 
  -->

  <system.serviceModel>
    
    <services>
      <service behaviorConfiguration="ClientWcfServiceLibrary.ClientWcfServiceBehavior" name="ClientWcfServiceLibrary.ClientWcfService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="BindingWithNoSecurity" contract="ClientWcfServiceLibrary.IClientWcfService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:11843/ClientWcfService"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="ClientWcfServiceLibrary.ClientWcfServiceBehavior">
          <serviceMetadata httpGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>


    <bindings>
      <netTcpBinding>
        <binding name="BindingWithNoSecurity" receiveTimeout="00:15:00" sendTimeout="00:15:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="65535" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="255"/>
          <security mode="None"/>
        </binding>
        <binding name="NetTcpBinding_IRtuWcfService">
          <security mode="None"/>
        </binding>
        <binding name="NetTcpBinding_ID4RWcfService">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    
    
        <client>
            <endpoint address="net.tcp://localhost:11842/RtuWcfService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IRtuWcfService" contract="RtuWcfServiceReference.IRtuWcfService" name="NetTcpBinding_IRtuWcfService">
                    <identity>
                          <dns value="localhost"/>
                    </identity>
              </endpoint>
        </client>
    
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
