.sidenav-container {
  /* height: 100%; */
  background-color: white;
}

.add-content-here {
  /* height: 100%; */
  height: calc(100% - 64px);
  /* display: flex; */
  /* flex: 1; */
  background-color: white;
  overflow: auto;
}

.sidenav {
  width: 300px;
}

.spacer {
  flex: 1 1 auto;
}

.hidden {
  display: none;
}

mat-sidenav a {
  color: white;
  font-size: 20px;
}

mat-toolbar a {
  display: inline-block;
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

@media (min-width: 1600px) {
  .sidenav {
    display: none;
  }
  .sidenav-button {
    display: none;
  }
}

@media (max-width: 1600px) {
  .topnav {
    display: none;
  }
}

.indicators {
  display: flex;
  margin-left: 25px;
}
.one-indicator {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.alarmImage {
  margin-top: 10px;
}

.letters {
  display: flex;
  justify-self: center;
  font-size: 70%;
  margin-top: -15px;
  margin-left: 5px;
}

.bop.letters {
  margin-left: 3px;
}
