<mat-sidenav-container class="sidenav-container" fullscreen>
  <mat-sidenav
    id="vertical-part"
    #drawer
    class="sidenav"
    fixedInViewport="false"
    style="background-color: #673ab7"
  >
    <mat-toolbar style="background-color: #673ab7; color: white"
      ><span (click)="drawer.toggle()">Fibertest&trade; 2.0</span></mat-toolbar
    >
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="/ft-main-nav/rtu-tree"
        routerLinkActive="active"
        (click)="drawer.toggle()"
        >{{ "SID_RTU_Tree" | translate }}</a
      >
      <a
        mat-list-item
        routerLink="/ft-main-nav/optical-events"
        routerLinkActive="active"
        (click)="drawer.toggle()"
        >{{ "SID_Optical_events" | translate }}</a
      >
      <a
        mat-list-item
        routerLink="/ft-main-nav/network-events"
        routerLinkActive="active"
        (click)="drawer.toggle()"
        >{{ "SID_Network_events" | translate }}</a
      >
      <a
        mat-list-item
        routerLink="/ft-main-nav/bop-events"
        routerLinkActive="active"
        (click)="drawer.toggle()"
        >{{ "SID_Network_events_Bop" | translate }}</a
      >
      <a
        mat-list-item
        routerLink="/ft-main-nav/logout"
        routerLinkActive="active"
        (click)="drawer.toggle(); logout()"
        >{{ "SID_Logout" | translate }}</a
      >
      <a
        mat-list-item
        routerLink="/ft-main-nav/about"
        routerLinkActive="active"
        (click)="drawer.toggle()"
        >{{ "SID_About" | translate }}</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content id="horizontal-part">
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        class="sidenav-button"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Fibertest&trade; 2.0</span>
      <div class="indicators">
        <div class="oe one-indicator">
          <div class="oe ball">
            <div *ngIf="isOpticalAlarm === 'alarmExclamation'">
              <img
                class="alarmImage"
                src="./assets/images/alarm/RedBallYellowExclamation32.png"
                alt="new_alarm_optical"
              />
            </div>
            <div *ngIf="isOpticalAlarm === 'alarm'">
              <img
                class="alarmImage"
                src="./assets/images/alarm/RedBall32.png"
                alt="old_alarm_optical"
              />
            </div>
            <div *ngIf="isOpticalAlarm === 'ok'">
              <img
                class="alarmImage"
                src="./assets/images/alarm/Opacity132.png"
                alt="ok_optical"
              />
            </div>
          </div>
          <span class="oe letters">OE</span>
        </div>
        <div class="ne one-indicator">
          <div class="ne ball">
            <div *ngIf="isNetworkAlarm === 'alarmExclamation'">
              <img
                class="alarmImage"
                src="./assets/images/alarm/RedBallYellowExclamation32.png"
                alt="new_alarm_network"
              />
            </div>
            <div *ngIf="isNetworkAlarm === 'alarm'">
              <img
                class="alarmImage"
                src="./assets/images/alarm/RedBall32.png"
                alt="old_alarm_network"
              />
            </div>
            <div *ngIf="isNetworkAlarm === 'ok'">
              <img
                class="alarmImage"
                src="./assets/images/alarm/Opacity132.png"
                alt="ok_network"
              />
            </div>
          </div>
          <span class="ne letters">NE</span>
        </div>
        <div class="bop one-indicator">
          <div class="bop ball">
            <div *ngIf="isBopAlarm === 'alarmExclamation'">
              <img
                class="alarmImage"
                src="./assets/images/alarm/RedBallYellowExclamation32.png"
                alt="new_alarm_network"
              />
            </div>
            <div *ngIf="isBopAlarm === 'alarm'">
              <img
                class="alarmImage"
                src="./assets/images/alarm/RedBall32.png"
                alt="old_alarm_network"
              />
            </div>
            <div *ngIf="isBopAlarm === 'ok'">
              <img
                class="alarmImage"
                src="./assets/images/alarm/Opacity132.png"
                alt="ok_bop"
              />
            </div>
          </div>
          <span class="bop letters">BOP</span>
        </div>
      </div>

      <div class="spacer"></div>

      <div class="topnav">
        <a routerLink="/ft-main-nav/rtu-tree" routerLinkActive="active">{{
          "SID_RTU_Tree" | translate
        }}</a>
        <a routerLink="/ft-main-nav/optical-events" routerLinkActive="active">{{
          "SID_Optical_events" | translate
        }}</a>
        <a routerLink="/ft-main-nav/network-events" routerLinkActive="active">{{
          "SID_Network_events" | translate
        }}</a>
        <a routerLink="/ft-main-nav/bop-events" routerLinkActive="active">{{
          "SID_Network_events_Bop" | translate
        }}</a>
        <a
          routerLink="/ft-main-nav/logout"
          routerLinkActive="active"
          (click)="logout()"
          >{{ "SID_Logout" | translate }}</a
        >
        <a routerLink="/ft-main-nav/about" routerLinkActive="active">{{
          "SID_About" | translate
        }}</a>
      </div>
      <button
        type="button"
        aria-label="Toggle language"
        mat-icon-button
        (click)="toggleLanguage()"
      >
        <mat-icon aria-label="Side nav toggle icon">language</mat-icon>
      </button>
      <button
        type="button"
        aria-label="Help"
        mat-icon-button
        (click)="showHelpPdf()"
      >
        <mat-icon aria-label="Side nav toggle icon">help</mat-icon>
      </button>
    </mat-toolbar>
    <div class="add-content-here">
      <!-- Add Content Here -->
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
