.component-container {
  margin-top: 10px;
  margin-right: 10px;
}

.rtu-line {
  margin-top: 1px;
}

.rtu-header {
  width: 100%;
  /* background-color: rgba(0, 255, 255, 0.1); */
  align-items: center;
}

.rtu-header:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.rtu-title-with-icons {
  width: 100%;
}

img {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  margin-top: 0px;
}

p {
  display: inline-block;
  margin-left: 5px;
  margin-top: 0;
  margin-bottom: 0;
}

.children-container {
  margin-left: 90px;
}
