<div class="component-container">
  <div class="rtu-line" fxLayout="column" *ngFor="let rtu of rtus">
    <div class="rtu-header" fxLayout="row">
      <div
        class="rtu-title-with-icons"
        fxLayout="row"
        [matMenuTriggerFor]="rtuContextMenu"
        (contextmenu)="onContextMenu($event)"
      >
        <img
          src="{{ rtu.monitoringMode | monitoringModeToUriPipe }}"
          alt="monitoring mode image"
        />
        <img
          src="{{ rtu.bopState | rtuPartStateToUriPipe }}"
          alt="bop state image"
        />
        <img
          src="{{ rtu.mainChannelState | rtuPartStateToUriPipe }}"
          alt="main channel image"
        />
        <img
          src="{{ rtu.reserveChannelState | rtuPartStateToUriPipe }}"
          alt="reserve channel image"
        />
        <p>{{ rtu.title }}</p>
        <mat-menu #rtuContextMenu="matMenu">
          <button mat-menu-item (click)="information(rtu)">
            {{ "SID_Information" | translate }}
          </button>
          <button mat-menu-item (click)="networkSettings(rtu)">
            {{ "SID_Network_settings" | translate }}
          </button>
          <button mat-menu-item (click)="state(rtu)">
            {{ "SID_State" | translate }}
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="experiment(rtu)">
            Experiment
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="monitoringSettings(rtu)">
            {{ "SID_Monitoring_settings" | translate }}
          </button>
            <button mat-menu-item (click)="manualMode(rtu)">
            {{ "SID_Manual_mode" | translate }}
          </button>
          <button mat-menu-item (click)="automaticMode(rtu)">
            {{ "SID_Automatic_mode" | translate }}
          </button>
        </mat-menu>
      </div>
      <button
        *ngIf="rtu.children.length > 0"
        mat-icon-button
        type="button"
        (click)="expand(rtu)"
      >
        <mat-icon>expand_more</mat-icon>
      </button>
    </div>
    <div *ngIf="rtu.expanded" class="children-container">
      <ft-rtu-children [childArray]="rtu.children"></ft-rtu-children>
    </div>
  </div>
</div>
