.container {
  margin-left: 4px;
  height: 36px;
  align-items: center;
}

img {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

p {
  display: inline-block;
  margin-left: 5px;
}

div:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.preserve-ws {
  white-space: pre;
}
