<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <compilation debug="true"/>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    
    <bindings>
      <netTcpBinding>
        <binding name="BindingWithNoSecurity" receiveTimeout="00:15:00" sendTimeout="00:15:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="65535" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="255"/>
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    
    <services>
      <service behaviorConfiguration="WcfServiceForRtuLibrary.WcfServiceForRtuBehavior" name="WcfServiceForRtuLibrary.WcfServiceForRtu">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="BindingWithNoSecurity" contract="WcfServiceForRtuLibrary.IWcfServiceForRtu">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:11841/WcfServiceForRtu/"/>
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="WcfServiceForClientLibrary.WcfServiceForClientBehavior" name="WcfServiceForClientLibrary.WcfServiceForClient">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="BindingWithNoSecurity" contract="WcfServiceForClientLibrary.IWcfServiceForClient">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>

        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:11840/WcfServiceForClient/"/>
          </baseAddresses>
        </host>
      </service> </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="WcfServiceForRtuLibrary.WcfServiceForRtuBehavior">
          <serviceMetadata httpGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="WcfServiceForClientLibrary.WcfServiceForClientBehavior">
          <serviceMetadata httpGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior></serviceBehaviors>
    </behaviors>
  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
