<mat-accordion>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <div class="otau-header">
        <img src="{{ otau.isOk | booleanUri }}" alt="bop state image" />
        <p>N{{otau.port}}:
          {{
            'SID_Optical_switch_with_Address'
              | translate: { '0': otau.otauNetAddress.toStringASpace }
          }}
        </p>
      </div>
    </mat-expansion-panel-header>
    <div class="otau-children">
      <ft-rtu-children [childArray]="otau.children"></ft-rtu-children>
    </div>
  </mat-expansion-panel>
</mat-accordion>
