.container {
  margin: 5px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.table {
  display: flex;
  width: 600px;
}

span {
  background-color: white;
  width: 266px;
  height: 18px;
  margin: 1px 0px 0px 1px;
  padding: 2px 0px 0px 7px;
  border-color: darkgray;
  border-width: 0px 1px 1px 0px;
  border-style: solid;
}

span.offset {
  background-color: azure;
}

span.empty-corner {
  height: 71px;
}

mat-tab-group {
  background-color: white;
}

.left-panel {
  display: flex;
  flex-direction: column;
}

.eelt {
  margin-left: 7px;
}

.footer {
  margin: 3px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

.footer-left {
  display: flex;
  flex-direction: row;
  margin-right: 50px;

  border-color: darkgray;
  border-width: 0px 1px 0px 0px;
  border-style: solid;
}

.footer-right {
  display: flex;
  flex-direction: row;
}

.trace-state {
  margin-right: 20px;
}

.trace-state-value {
  margin-right: 20px;
}

.by-levels {
  margin-right: 20px;
}

.spinner-container {
  position: absolute;
  top: 150px;
  left: 80px;
}
