<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.web>
    <compilation debug="true" />
  </system.web>
 
  <!--  Client_WcfService  -->
  
  <system.serviceModel>
    
    <bindings>
      <netTcpBinding>
        <binding name="BindingWithNoSecurity" receiveTimeout="00:15:00" sendTimeout="00:15:00"
                 maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
                 maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="65535" maxArrayLength="2147483647"
                        maxBytesPerRead="2147483647" maxNameTableCharCount="255" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    
    <services>
      <service behaviorConfiguration="Client_WcfService.ClientWcfServiceBehavior" name="Client_WcfService.ClientWcfService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="BindingWithNoSecurity" contract="Client_WcfService.IClientWcfService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:11843/ClientWcfService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="Client_WcfService.ClientWcfServiceBehavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
