.container {
  margin: 0px 10px;
}

mat-card {
  margin-top: 10px;
}

.spinner-container {
  position: absolute;
  top: 150px;
  left: 80px;
}

.mat-card {
  margin: 5px 5px 0px 0px;
}

.message-container {
  background-color: azure;
}
