<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

  <!--  Client applications   
  uses D4CWcfService from data center
  provides ClientWcfService 
  -->

  <system.serviceModel>
    
    <services>
      <service behaviorConfiguration="Client_WcfService.ClientWcfServiceBehavior" name="Client_WcfService.ClientWcfService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="BindingWithNoSecurity" contract="Client_WcfService.IClientWcfService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:11843/ClientWcfService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Client_WcfService.ClientWcfServiceBehavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>


    <bindings>
      <netTcpBinding>
        <binding name="BindingWithNoSecurity" receiveTimeout="00:15:00"
          sendTimeout="00:15:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="65535" maxArrayLength="2147483647"
            maxBytesPerRead="2147483647" maxNameTableCharCount="255" />
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IRtuWcfService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_ID4RWcfService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_ID4CWcfService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_ID4RWcfService1">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    
    
        <client>
              <endpoint address="net.tcp://localhost:11841/D4RWcfService/"
                    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ID4RWcfService"
                    contract="D4RWcfServiceReference.ID4RWcfService" name="NetTcpBinding_ID4RWcfService">
                    <identity>
                          <dns value="localhost" />
                    </identity>
              </endpoint>
              <endpoint address="net.tcp://localhost:11842/RtuWcfService" binding="netTcpBinding"
                    bindingConfiguration="NetTcpBinding_IRtuWcfService" contract="RtuWcfServiceReference.IRtuWcfService"
                    name="NetTcpBinding_IRtuWcfService">
                    <identity>
                          <dns value="localhost" />
                    </identity>
              </endpoint>
              <endpoint address="net.tcp://localhost:11840/D4CWcfService/"
                    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ID4CWcfService"
                    contract="D4CWcfServiceReference.ID4CWcfService" name="NetTcpBinding_ID4CWcfService">
                    <identity>
                          <dns value="localhost" />
                    </identity>
              </endpoint>
              <endpoint address="net.tcp://localhost:11841/D4RWcfService/"
                    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ID4RWcfService1"
                    contract="D4RWcfServiceReference.ID4RWcfService" name="NetTcpBinding_ID4RWcfService1">
                    <identity>
                          <dns value="localhost" />
                    </identity>
              </endpoint>
        </client>
    
    </system.serviceModel>
</configuration>
