table {
    width: 100%;
    margin-top: 25px;
  }
  
.mat-header-cell {
    text-align: center !important;
    font-size: 14px;
    color: black;
  }
  
  .mat-cell {
    text-align: center;
    border-right: 1px solid lightgrey;
  }
  
  .mat-column-baseRefType {
    width: 70px !important;
  }
  
  .mat-column-assignmentTimestamp {
    width: 170px !important;
  }
  .mat-column-username {
    width: 170px !important;
  }
  