.componentHeader {
  font-size: 20px;
  font-weight: 500;
  margin-left: 5px;
}

.container {
  display: flex;
  flex-direction: column;
}

.controlBlock {
  background-color: aqua;
}

.portTable {
  flex-grow: 1;
}

.frequencies {
  width: 100%;
  margin-left: 5px;
}

mat-form-field {
  margin-right: 5px;
}

.portTable {
  overflow-y: scroll;
}

table {
  width: 100%;
}

mat-radio-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

mat-radio-button {
  margin: 5px;
  flex-grow: 1;
}

button {
  margin: 10px;
  align-self: center;
}

.mat-column-select {
  width: 40px !important;
}

.mat-column-port {
  width: 70px !important;
}

.mat-column-duration {
  width: 70px !important;
}

.mat-header-cell {
  text-align: center !important;
  border-right: 1px solid lightgrey;
  font-size: 14px;
  background: azure;
  color: black;
  padding: 5px;
}

.mat-cell {
  text-align: center !important;
  flex-wrap: wrap;
  border-right: 1px solid lightgrey;
  padding: 0 5px;
}

@media (min-width: 0) {
  .controlBlock {
    flex-direction: column;
  }
}

@media (min-width: 700px) {
  .controlBlock {
    flex-direction: row;
  }
}

@media (min-width: 960px) {
  .container {
    flex-direction: row-reverse;
  }

  .controlBlock {
    flex-direction: column;
  }
}
