<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    
    <bindings>
      <netTcpBinding>
        <binding name="BindingWithNoSecurity" receiveTimeout="00:15:00" sendTimeout="00:15:00"
                 maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
                 maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="65535" maxArrayLength="2147483647"
                        maxBytesPerRead="2147483647" maxNameTableCharCount="255" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    
    <services>
      <service behaviorConfiguration="RtuWcfServiceLibrary.RtuWcfServiceBehavior" name="RtuWcfServiceLibrary.RtuWcfService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="BindingWithNoSecurity" contract="RtuWcfServiceLibrary.IRtuWcfService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:11842/RtuWcfService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="RtuWcfServiceLibrary.RtuWcfServiceBehavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
