<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ "SID_Network_settings" | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="infoTable" fxLayout="row">
        <div class="keys">
          <p>RTU:</p>
          <p>{{ "SID_Main_channel" | translate }}:</p>
          <p *ngIf="vm.isReserveChannelSet">
            {{ "SID_Reserve_channel" | translate }}:
          </p>
          <p>{{ "SID_OTDR_Network_Address" | translate }}:</p>

          <p>{{ "SID_Device" | translate }}:</p>
          <p>{{ "SID_Serial" | translate }}:</p>
          <p>{{ "SID_Port_count" | translate }}:</p>

          <p *ngIf="vm.rtuMaker === allRtuMakers.IIT">{{ "SID_RTU_Manager_software_version" | translate }}:</p>
          <p *ngIf="vm.rtuMaker === allRtuMakers.VeEX">{{ "SID_Software_version" | translate }} {{ vm.mfid }}:</p>

          <p *ngIf="vm.rtuMaker === allRtuMakers.VeEX">{{ "SID_RTU_Manager_software_version" | translate }}:</p>
        </div>
        <div class="values">
          <p>{{ vm.rtuTitle }}</p>
          <p>{{ vm.mainChannel }}</p>
          <p *ngIf="vm.isReserveChannelSet">{{ vm.reserveChannel }}</p>
          <p>{{ vm.otdrAddress }}</p>

          <p>{{ vm.mfid }}</p>
          <p>{{ vm.serial }}</p>
          <p>{{ vm.ownPortCount }}/{{ vm.fullPortCount }}</p>

          <p>{{ vm.version }}</p>

          <p *ngIf="vm.rtuMaker === allRtuMakers.VeEX">{{ vm.version2 }}</p>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        (click)="initializeRtu()"
        [disabled]="isButtonDisabled"
      >
        {{ "SID_Initialize" | translate }}
      </button>
    </mat-card-actions>
  </mat-card>
  <div class="error-container">
    <p>{{ initializationMessage }}</p>
  </div>
  <div class="spinner-container">
    <mat-spinner *ngIf="isSpinnerVisible"></mat-spinner>
  </div>
</div>
