<div class="container">
  <mat-toolbar fxLayout.xs="column" class="tools">
    <mat-form-field>
      <input matInput placeholder="RTU" #inputRtu />
    </mat-form-field>
    <mat-form-field style="margin-left: 20px;">
      <input matInput placeholder="Trace" #inputTrace />
    </mat-form-field>
    <div class="spacer"></div>
    <mat-slide-toggle
      [(ngModel)]="isCurrentEvents"
      [labelPosition]="labelPosition"
      [color]="sliderColor"
      (change)="changedSlider()"
      >Only active!
    </mat-slide-toggle>
  </mat-toolbar>

  <table
    mat-table
    class="opt-event-table mat-elevation-z8"
    [dataSource]="dataSource"
    matSort
    matSortActive="eventId"
    matSortDirection="desc"
    matSortDisableClear
  >
    <ng-container matColumnDef="eventId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "SID_Event_Id" | translate }}
      </th>
      <td mat-cell class="eventId-cell" *matCellDef="let element">
        {{ element.eventId }}
      </td>
    </ng-container>

    <ng-container matColumnDef="measurementTimestamp">
      <th mat-header-cell *matHeaderCellDef>
        {{ "SID_Measurement_termination_timestamp" | translate }}
      </th>
      <td mat-cell class="measurementTimestamp-cell" *matCellDef="let element">
        {{ element.measurementTimestamp | date: "dd/MM/yyyy H:mm:ss" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="eventRegistrationTimestamp">
      <th mat-header-cell *matHeaderCellDef>
        {{ "SID_Event_registration_time" | translate }}
      </th>
      <td
        mat-cell
        class="eventRegistrationTimestamp-cell"
        *matCellDef="let element"
      >
        {{ element.eventRegistrationTimestamp | date: "dd/MM/yyyy H:mm:ss" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="rtuTitle">
      <th mat-header-cell *matHeaderCellDef>RTU</th>
      <td mat-cell class="rtuTitle-cell" *matCellDef="let element">
        {{ element.rtuTitle }}
      </td>
    </ng-container>

    <ng-container matColumnDef="traceTitle">
      <th mat-header-cell *matHeaderCellDef>{{ "SID_Trace" | translate }}</th>
      <td mat-cell class="traceTitle-cell" *matCellDef="let element">
        {{ element.traceTitle }}
      </td>
    </ng-container>

    <ng-container matColumnDef="traceState">
      <th mat-header-cell *matHeaderCellDef>
        {{ "SID_Trace_state" | translate }}
      </th>
      <td mat-cell class="traceState-cell" *matCellDef="let element">
        {{ element.traceState | fiberStateToLocalizedStringPipe }}
      </td>
    </ng-container>

    <ng-container matColumnDef="eventStatus">
      <th mat-header-cell *matHeaderCellDef>
        {{ "SID_Event_status" | translate }}
      </th>
      <td mat-cell class="eventStatus-cell" *matCellDef="let element">
        {{ element.eventStatus | eventStatusToLocalizedStringPipe }}
      </td>
    </ng-container>

    <ng-container matColumnDef="statusChangedTimestamp">
      <th mat-header-cell *matHeaderCellDef>
        {{ "SID_Status_assignment_time" | translate }}
      </th>
      <td
        mat-cell
        class="statusChangedTimestamp-cell"
        *matCellDef="let element"
      >
        {{ element.statusChangedTimestamp | date: "dd/MM/yyyy H:mm:ss" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="statusChangedByUser">
      <th mat-header-cell *matHeaderCellDef>
        {{ "SID_Status_changed_by" | translate }}
      </th>
      <td mat-cell class="statusChangedByUser-cell" *matCellDef="let element">
        {{ element.statusChangedByUser }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (contextmenu)="onContextMenu($event, row)"
    ></tr>
  </table>

  <div
    style="visibility: hidden; position: fixed;"
    [style.left]="contextMenuPosition.x"
    [style.top]="contextMenuPosition.y"
    [matMenuTriggerFor]="optEvContextMenu"
  ></div>

  <mat-menu #optEvContextMenu="matMenu">
    <ng-template matMenuContent let-item="item">
      <button mat-menu-item (click)="showRef(1)">
        {{ "SID_Show_reflectogram" | translate }}
      </button>
      <button mat-menu-item (click)="showRef(2)">
        {{ "SID_Show_ref_and_base" | translate }}
      </button>
      <button mat-menu-item (click)="saveRef(1)">
        {{ "SID_Save_reflectogram_as" | translate }}
      </button>
      <button mat-menu-item (click)="saveRef(2)">
        {{ "SID_Save_ref_and_base_as" | translate }}
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="showRftsEvents()">
        {{ "SID_Rfts_Events" | translate }}
      </button>
      <button mat-menu-item (click)="showTraceState()">
        {{ "SID_Trace_state_Event_status" | translate }}
      </button>
    </ng-template>
  </mat-menu>

  <mat-paginator
    [length]="dataSource.fullCount | async"
    [pageSize]="8"
    [pageSizeOptions]="[8, 13, 28, 100]"
  ></mat-paginator>
  <div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>
</div>
