.container {
  margin: 15px 10px 0px 10px;
  min-width: 640px;
}

#header {
  display: flex;
  justify-content: space-between;
}

#content {
  margin-top: -30px;
}

.right-part {
  display: flex;
}

#caption {
  display: inline;
  font-weight: bold;
  font-size: 20px;
}

#slider {
  margin-top: 10px;
}

#slider-label {
  /* overflow-wrap: break-word; */
  width: 130px;
  margin: 5px 0px 0px 15px;
}

#combobox {
  width: 167px;
  margin-left: 15px;
}

.mat-table {
  width: 100%;
}

.mat-header-cell {
  text-align: center !important;
  border-right: 1px solid lightgrey;
  font-size: 14px;
  background: azure;
  color: black;
  padding: 5px;
}

.mat-cell {
  justify-content: center;
  flex-wrap: wrap;
  border-right: 1px solid lightgrey;
  padding: 0 5px;
}

.mat-column-ordinal {
  max-width: 30px !important;
}

.mat-column-eqType {
  max-width: 90px !important;
}

.mat-column-distanceKm {
  max-width: 80px !important;
}

.mat-column-eventOrdinal {
  max-width: 60px !important;
}

.user-input-color {
  background-color: lightgray;
}

/* ---------------- media requests ----------------- */

@media (min-width: 0) {
  #header {
    flex-direction: column;
  }
  .mat-column-coors {
    max-width: 80px !important;
  }

  .right-part {
    margin: 20px 0px;
  }
}

@media (min-width: 660px) {
  #header {
    flex-direction: row;
  }

  .right-part {
    margin: 0px 0px;
  }
}

@media (min-width: 960px) {
  .mat-column-coors {
    max-width: 180px !important;
  }
}
