.container {
  display: flex;
}

.keys {
  margin-right: 20px;
}

.values {
  margin-right: 20px;
}

.frequencies {
  width: 100%;
}

.frequencies mat-card {
  width: 100%;
}

table {
  width: 100%;
}

.cycle {
  display: flex;
}

.cycle div {
  margin-right: 10px;
}

.mode {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.button {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
}

.mat-column-select {
  width: 40px !important;
}

.mat-column-port {
  width: 70px !important;
}

.mat-column-duration {
  width: 70px !important;
}

.mat-header-cell {
  text-align: center !important;
  border-right: 1px solid lightgrey;
  font-size: 14px;
  background: azure;
  color: black;
  padding: 5px;
}

.mat-cell {
  text-align: center !important;
  flex-wrap: wrap;
  border-right: 1px solid lightgrey;
  padding: 0 5px;
}
