<mat-card>
  <mat-card-header>
    <mat-card-title>{{
      "SID_Rtu_Moni_Settings" | translate: { "0": vm.rtuTitle }
    }}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="container">
    <div class="portTable">
      <table mat-table [dataSource]="dataSource">
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox
              (change)="$event ? masterToggle() : null"
              [checked]="selectionModel.hasValue() && isAllSelected()"
              [indeterminate]="selectionModel.hasValue() && !isAllSelected()"
              color="primary"
            >
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)="$event ? slaveToggle(row) : null"
              [checked]="selectionModel.isSelected(row)"
              [disabled]="row.disabled"
              color="primary"
            >
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="port">
          <th mat-header-cell *matHeaderCellDef>Port</th>
          <td mat-cell *matCellDef="let element">{{ element.port }}</td>
        </ng-container>

        <ng-container matColumnDef="traceTitle">
          <th mat-header-cell *matHeaderCellDef>Trace</th>
          <td mat-cell *matCellDef="let element">{{ element.traceTitle }}</td>
        </ng-container>

        <ng-container matColumnDef="duration">
          <th mat-header-cell *matHeaderCellDef>Duration</th>
          <td mat-cell *matCellDef="let element">{{ element.duration }}</td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          (click)="slaveToggle(row)"
        ></tr>
      </table>
    </div>
    <div class="right-part">
      <div class="frequencies" fxLayout="row">
        <mat-card class="preciseMode">
          <div fxLayout="column">
            <p>{{ "SID_Precise" | translate }}</p>

            <mat-form-field>
              <mat-label>measurement frequency</mat-label>
              <mat-select [(value)]="selectedPreciseMeas">
                <mat-option
                  *ngFor="let item of itemsSource"
                  [value]="item.index"
                >
                  {{ item.name }}</mat-option
                >
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label>saving frequency</mat-label>
              <mat-select [(value)]="selectedPreciseSave">
                <mat-option
                  *ngFor="let item of itemsSource"
                  [value]="item.index"
                >
                  {{ item.name }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
        </mat-card>
        <mat-card class="fastMode">
          <div fxLayout="column">
            <p>{{ "SID_Fast" | translate }}</p>

            <mat-form-field>
              <mat-label>measurement frequency</mat-label>
              <mat-select [(value)]="selectedFastMeas">
                <mat-option value="pp">{{
                  "SID_Permanently" | translate
                }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label>saving frequency</mat-label>
              <mat-select [(value)]="selectedFastSave">
                <mat-option
                  *ngFor="let item of itemsSource"
                  [value]="item.index"
                >
                  {{ item.name }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
        </mat-card>
      </div>
      <div class="other">
        <mat-card class="cycle">
          <div>{{ "SID_Cycle_full_time" | translate }}</div>
          <div>{{ cycleTime }}</div>
          <div>{{ "SID__sec" | translate }}</div>
        </mat-card>
        <mat-card>
          <mat-radio-group
            class="mode"
            [(ngModel)]="monitoringMode"
            color="primary"
          >
            <mat-radio-button [value]="0">{{
              "SID_Automatic" | translate
            }}</mat-radio-button>
            <mat-radio-button [value]="1">{{
              "SID_Manual" | translate
            }}</mat-radio-button>
          </mat-radio-group>
        </mat-card>
        <mat-card class="button">
          <button mat-stroked-button color="primary">
            {{ "SID_Apply" | translate }}
          </button>
        </mat-card>
      </div>
    </div>
  </mat-card-content>
</mat-card>
