.componentHeader {
  font-size: 20px;
  font-weight: 500;
  margin-left: 5px;
}

.preciseFrequencies {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-right: 5px;
}

.fastFrequencies {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-right: 5px;
}

mat-radio-button {
  margin: 5px;
}

.mat-stroked-button {
  margin: 10px 10px;
  display: block;
}

/* ---------------- media requests ----------------- */

@media (min-width: 0) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .portTable {
    display: flex;
    flex: 5, 5, auto;
  }

  .controlBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 0, 0, auto;
  }

  .frequencies {
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
    margin-left: 5px;
  }

  .other {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

  .mat-radio-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .cycle {
    justify-content: center;
    align-items: center;
    margin: 5px 10px;
  }
}

@media (min-width: 640px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .controlBlock {
    display: flex;
    flex-direction: row;
    flex: 0, 0, auto;
  }

  .frequencies {
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
    margin-left: 5px;
  }

  .other {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .mat-radio-group {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 960px) {
  .container {
    display: flex;
    flex-direction: row;
  }

  .portTable {
    display: flex;
    flex: 5, 5, auto;
    order: -1;
  }

  .controlBlock {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 0, 0, auto;
  }

  .frequencies {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    margin-left: 5px;
  }

  .other {
    display: flex;
    flex-direction: column;
  }

  .mat-radio-group {
    display: flex;
    flex-direction: row;
    margin: 10px;
  }
}
