.otau-header {
  margin-left: 5px;
  margin-top: 0px;
  margin-bottom: 0;
}

img {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  margin-top: 3px;
  display: inline-block;
}

p {
  margin-left: 5px;
  margin-top: -3px;
  margin-bottom: 0;
  display: inline-block;
}

.otau-children {
  margin-left: 20px;
}
