.container {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.firstBlock {
  display: flex;
  flex-direction: row;
}

.blockItem {
  margin-top: 10px;
}

.value {
  padding-left: 10px;
  padding-right: 40px;
}

table {
  width: 100%;
}

@media (max-width: 700px) {
  .firstBlock {
    flex-direction: column;
  }
}
