<div class="container">
  <ft-iit-header></ft-iit-header>
  <mat-divider></mat-divider>
  <div class="firstBlock">
    <div class="blockItem">
      <span>{{ "SID_User" | translate }}:</span>
      <span class="value">{{ loggedUser.username }}</span>
    </div>
    <div class="blockItem">
      <span>{{ "SID_Role" | translate }}:</span>
      <span class="value">{{ roleString }}</span>
    </div>
    <div class="blockItem">
      <span>{{ "SID_Zone" | translate }}:</span>
      <span class="value">{{ loggedUser.zone }}</span>
    </div>
  </div>

  <mat-divider style="margin-top: 10px"></mat-divider>
  <div class="blockItem">
    <span>{{ "SID_Data-center_software_version" | translate }}:</span>
    <span class="value">{{ aboutVm.dcSoftware }}</span>
  </div>
  <div class="blockItem">
    <span>{{ "SID_Web_Client_software_version" | translate }}:</span>
    <span class="value">{{ aboutVm.webClientSoftware }}</span>
  </div>

  <mat-divider style="margin-top: 10px"></mat-divider>
  <div>
    <p>{{ "SID_RTUs_software_version" | translate }}:</p>
    <table mat-table [dataSource]="aboutVm.rtus">
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>RTU</th>
        <td mat-cell *matCellDef="let element">{{ element.title }}</td>
      </ng-container>
      <ng-container matColumnDef="version">
        <th mat-header-cell *matHeaderCellDef>Version</th>
        <td mat-cell *matCellDef="let element">{{ element.version }}</td>
      </ng-container>
      <ng-container matColumnDef="version2">
        <th mat-header-cell *matHeaderCellDef>Version2</th>
        <td mat-cell *matCellDef="let element">{{ element.version2 }}</td>
      </ng-container>

      <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    </table>
  </div>
</div>
