<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IWcfServiceForRtu">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:11841/WcfServiceForRtu/"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IWcfServiceForRtu"
                contract="WcfForRtuServiceReference.IWcfServiceForRtu" name="NetTcpBinding_IWcfServiceForRtu">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>