<ng-container *ngFor="let element of childArray">
  <div class="child" *ngIf="element.childType == 0">
    <ft-free-port
      [parentRtu]="rtu"
      [port]="element.port"
      [masterPort]="masterPort"
      [isPortOnMainCharon]="isPortOnMainCharon"
      [serial]="serial"
      [otauId]="otauId"
    ></ft-free-port>
  </div>
  <div class="child" *ngIf="element.childType == 1 && element.port == -1">
    <ft-detached-line [trace]="element"></ft-detached-line>
  </div>
  <div class="child" *ngIf="element.childType == 1 && element.port != -1">
    <ft-attached-line [trace]="element" [parentRtu]="rtu"></ft-attached-line>
  </div>
  <ng-container *ngIf="element.childType == 2">
    <ft-otau class="child" [parentRtu]="rtu" [otau]="element"></ft-otau>
  </ng-container>
</ng-container>
