.iit-image {
  display: inline-block;
}

.iit-image img {
    width: 60px;
}

.iit-header {
  display: inline-block;
  text-align: left;
  margin: 10px;
}

.iit-header p {
    padding: 0;
    margin: 5px;
}

table {
    width: 100%;
}