.container {
  margin: 0px 10px;
  width: 600px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.bottomLine {
  margin-right: 5px;
  border-bottom: 1px solid #ccc;
}

.oneAccident {
  display: flex;
  flex-direction: column;
  width: 450px;
}

.caption {
  margin-bottom: 5px;
}

img {
  margin-bottom: 5px;
}

.tops,
.bottoms {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.measNotes {
  display: flex;
  flex-direction: row-reverse;
}

.mat-stroked-button {
  align-self: center;
  margin: 15px;
  width: 130px;
}

.header-button {
  margin: 0px 15px 15px 15px;
  width: 160px;
}

.editableProperties {
  margin-top: 10px;
}

.full-width {
  width: 100%;
}
