<div class="header bottomLine">
  <h3>{{ "SID_Trace_state" | translate }}</h3>
  <p>{{ "SID_Trace" | translate }} {{ vm.header.traceTitle }}</p>
  <p>{{ "SID_Port" | translate }} {{ vm.header.port }}</p>
  <p>RTU {{ vm.header.rtuTitle }}</p>
</div>
<div class="state bottomLine">
  <p>
    {{
      "SID_State_at_"
        | translate
          : {
              "0": vm.measurementTimestamp | date: "dd-MM-yyyy HH:mm:ss",
              "1": vm.sorFileId
            }
    }}
  </p>
  <p>{{ vm.stateAt }}</p>
  <h3>{{ vm.traceState | fiberStateToLocalizedStringPipe }}</h3>
</div>
<div class="accidents bottomLine" *ngIf="isAccidentsVisible">
  <p>
    {{ "SID_Accidents_count___0_" | translate: { "0": vm.accidents.length } }}
  </p>
  <div class="lines" *ngFor="let line of vm.accidents">
    <p>{{ line.caption }}</p>
    <p>{{ line.topLeft }} {{ line.topCenter }} {{ line.topRight }}</p>
    <img src="{{ line.pngPath }}" alt="accidnet scheme" />
    <p>
      {{ line.bottom0 }} {{ line.bottom1 }} {{ line.bottom2 }}
      {{ line.bottom3 }} {{ line.bottom4 }}
    </p>
  </div>
</div>
<div class="measNotes bottomLine">
  <button
    mat-stroked-button
    color="primary"
    (click)="save()"
    [disabled]="isButtonDisabled"
  >
    {{ "SID_Save" | translate }}
  </button>
  <div class="editableProperties full-width">
    <div class="eventStatus full-width" *ngIf="isEventStatusVisible">
      <mat-form-field class="full-width">
        <mat-label>{{ "SID_Status_of_optical_event" | translate }}</mat-label>
        <mat-select [(value)]="selectedEventStatus">
          <mat-option
            *ngFor="let item of itemsSourceEventStatuses"
            [value]="item.index"
          >
            {{ item.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <mat-form-field class="full-width">
      <mat-label>{{ "SID_Comment" | translate }}</mat-label>
      <textarea matInput [(ngModel)]="vm.comment"></textarea>
    </mat-form-field>
  </div>
</div>
<button
  mat-stroked-button
  color="primary"
  (click)="back()"
  [disabled]="isButtonDisabled"
>
  {{ "SID_Back" | translate }}
</button>
<div class="spinner-container" *ngIf="isSpinnerVisible">
  <mat-spinner></mat-spinner>
</div>
