<div class="container">
  <mat-card
    ><p>{{ "SID_Trace" | translate }} {{ vm.header.traceTitle }}</p>
    <p>{{ "SID_Port" | translate }} {{ vm.header.port }}</p>
    <p>RTU {{ vm.header.rtuTitle }}</p>
  </mat-card>

  <ft-base-refs
    [vm]="vm.baseRefs"
    [traceTitle]="vm.header.traceTitle"
  ></ft-base-refs>

  <table mat-table [dataSource]="vm.measPortion">
    <ng-container matColumnDef="sorFileId">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">
        {{ element.sorFileId }}
      </td>
    </ng-container>
    <ng-container matColumnDef="baseRefType">
      <th mat-header-cell *matHeaderCellDef>
        {{ "SID_Base_ref_type" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.baseRefType | BaseRefTypeToLocalizedFemaleStringPipe }}
      </td>
    </ng-container>
    <ng-container matColumnDef="eventRegistrationTimestamp">
      <th mat-header-cell *matHeaderCellDef>
        {{ "SID_Registered" | translate }}
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        (contextmenu)="onContextMenu($event, element)"
      >
        {{ element.eventRegistrationTimestamp | date: "dd/MM/yyyy H:mm:ss" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="isEvent">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox [checked]="element.isEvent" disabled="true">
        </mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="traceState">
      <th mat-header-cell *matHeaderCellDef>
        {{ "SID_Trace_state" | translate }}
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        [ngStyle]="{
          'background-color': getTraceStateColor(
            element.traceState,
            element.baseRefType
          )
        }"
      >
        {{
          element.traceState
            | fiberStateToLocalizedStringPipe: element.baseRefType
        }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: columnsToDisplay"
      (contextmenu)="onContextMenu($event, row)"
      (click)="onContextMenu($event, row)"
    ></tr>
  </table>

  <div
    style="visibility: hidden; position: fixed"
    [style.left]="contextMenuPosition.x"
    [style.top]="contextMenuPosition.y"
    [matMenuTriggerFor]="measContextMenu"
  ></div>

  <mat-menu #measContextMenu="matMenu">
    <ng-template matMenuContent let-item="item">
      <button mat-menu-item (click)="showRef(false)">
        {{ "SID_Show_reflectogram" | translate }}
      </button>
      <button mat-menu-item (click)="showRef(true)">
        {{ "SID_Show_ref_and_base" | translate }}
      </button>
      <button mat-menu-item (click)="saveRef(false)">
        {{ "SID_Save_reflectogram_as" | translate }}
      </button>
      <button mat-menu-item (click)="saveRef(true)">
        {{ "SID_Save_ref_and_base_as" | translate }}
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="showRftsEvents()">
        {{ "SID_Rfts_Events" | translate }}
      </button>
      <button mat-menu-item (click)="showTraceState()">
        {{ "SID_Trace_state_Event_status" | translate }}
      </button>
    </ng-template>
  </mat-menu>

  <mat-paginator
    [length]="fullCount"
    [pageSize]="8"
    [pageSizeOptions]="[8, 13, 28, 100]"
  ></mat-paginator>
  <div class="spinner-container" *ngIf="isNotLoaded">
    <mat-spinner></mat-spinner>
  </div>
</div>
