<mat-tab-group [selectedIndex]="selectedTab" style="height: 100%;">
  <mat-tab label="Fibertest&trade;">
    <ft-about [rtuArray]="rtus"> </ft-about>
  </mat-tab>
  <mat-tab label="RTU Tree">
    <div class="container">
      <div class="rtuTree">
        <ft-rtu-tree [rtuArray]="rtus"></ft-rtu-tree>
      </div>
      <div class="details-container">
        <ft-tree-details [detailsVm]="detailsVm"></ft-tree-details>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Optical Events">
    <ft-opt-events></ft-opt-events>
  </mat-tab>
  <mat-tab label="Network events RTU ">
    <ft-network-events></ft-network-events>
  </mat-tab>
  <mat-tab label="Network events BOP "> Content 4 </mat-tab>
</mat-tab-group>
