.container {
  display: table;
  width: 100%;
}

.rtuTree,
.details-container {
  display: table-cell;
  vertical-align: top;
  width: auto;
}

.rtuTree {
  min-width: 600px;
}

.details-container {
  padding-left: 10px;
  width: 90%;
}
